{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Game Login</h1>

        <form method="post">
            <div class="form-row">
                {% if error %}
                    <div class="col-md-12 alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <label for="playerName">Player name</label>
                    <input type="text" value="{{ last_username }}" name="playerName" class="form-control" placeholder="Player name" required
                           autofocus/>
                </div>
                <div class="col-md-12 mt-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required/>

                </div>
                <div class="col-md-12 mt-4">
                    <button name="login" class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </form>

    </div>

{% endblock %}