{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Base overview of player {{ player.getName() }}</h1>
            </div>
            <div class="col-sm-2 align-self-center">
                <a class="btn btn-block btn-primary"
                   href="{{ path('logout') }}">Logout</a>
            </div>
        </div>


        <div class="container">
            <h2>Resources</h2>
            <div class="row" id="resources" data-route="{{ path('player_resources', {name: player.getName()}) }}">
                <div class="col-sm-4">
                    Metal: <span id="player-metal">{{ player.getMetal() }}</span>
                </div>
                <div class="col-sm-4">
                    Crystal: <span id="player-crystal">{{ player.getCrystal() }}</span>
                </div>
                <div class="col-sm-4">
                    Energy: <span id="player-energy">{{ player.getEnergy() }}</span>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Buildings</h2>
            <table class="table table-bordered game-buildings">
                <thead>
                <tr>
                    <th scope="col">Amount built</th>
                    <th scope="col">Building type</th>
                    <th scope="col">Cost</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for building in player.getBuildings() %}
                    <tr id="building-type-{{ building.getBuildingType().getId() }}">
                        <th class="align-middle" scope="row"><span class="amount">{{ building.getAmount() }}</span></th>
                        <td class="align-middle">
                            <img src="{{ asset('build/images/' ~ building.getBuildingType().getImage() ) }}"/>
                            {{ building.getBuildingType().getName() }}.
                            Produces {{ building.getBuildingType().getGenerationRate() }} resources every minute.
                            Health: {{ building.getBuildingType().getHealth() }}
                        </td>
                        <td class="align-middle">
                            <div>{{ building.getBuildingType().getMetal() }} Metal</div>
                            <div>{{ building.getBuildingType().getCrystal() }} Crystal</div>
                            <div>{{ building.getBuildingType().getEnergy() }} Energy</div>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-block btn-primary build-item"
                               href="{{ path('add_building', {name: player.getName(), type: building.getBuildingType().getId()}) }}">Build</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2>Ships</h2>
            <table class="table table-bordered game-ships">
                <thead>
                <tr>
                    <th scope="col">Amount built</th>
                    <th scope="col">Ship type</th>
                    <th scope="col">Cost</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for ship in player.getShips() %}
                    <tr id="ship-type-{{ ship.getShipType().getId() }}">
                        <th class="align-middle" scope="row"><span class="amount">{{ ship.getAmount() }}</span></th>
                        <td class="align-middle">
                            <img src="{{ asset('build/images/' ~ ship.getShipType().getImage() ) }}"/>
                            {{ ship.getShipType().getName() }}. Health: {{ ship.getShipType().getHealth() }},
                            Strength: {{ ship.getShipType().getStrength() }}
                        <td class="align-middle">
                            <div>{{ ship.getShipType().getMetal() }} Metal</div>
                            <div>{{ ship.getShipType().getCrystal() }} Crystal</div>
                            <div>{{ ship.getShipType().getEnergy() }} Energy</div>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-block btn-primary build-item"
                               href="{{ path('add_ship', {name: player.getName(), type: ship.getShipType().getId()}) }}">Build</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2>Launch attack</h2>
            {{ form_start(attack_form) }}
            {% if not attack_form.vars.valid %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(attack_form.otherPlayer) }}
                </div>
            {% endif %}
            <div class="form-row">
                <div class="col-md-9">
                    Select player to attack: {{ form_widget(attack_form.otherPlayer) }}
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-primary">Attack!</button>
                </div>
            </div>
            {{ form_end(attack_form) }}

            <div class="pt-3">
                {% if battles|length %}
                    <h3>Battles participated in</h3>
                    <table class="table table-bordered game-battles">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Attacker</th>
                            <th scope="col">Defender</th>
                            <th scope="col">Damage dealt</th>
                            <th scope="col">Metal stolen</th>
                            <th scope="col">Crystal stolen</th>
                            <th scope="col">Energy stolen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for battle in battles %}
                            <tr>
                                <th class="align-middle" scope="row">{{ battle.getDate()|date("d/m/Y H:i:s") }}</th>
                                <td class="align-middle">{{ battle.getAttacker().getName() }}</td>
                                <td class="align-middle">{{ battle.getDefender().getName() }}</td>
                                <td class="align-middle">{{ battle.getDamageDone() }}</td>
                                <td class="align-middle">{{ battle.getMetal() }}</td>
                                <td class="align-middle">{{ battle.getCrystal() }}</td>
                                <td class="align-middle">{{ battle.getEnergy() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You have not yet performed any battles.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}